:root {
  --backgroud: #F6F6F6;
  --primary-color: #F53838;
  --primary-color-text: #0B132A;
  --secondary-color-text: #4F5665;
  --rr: Rubik-Regular;
  --rm: Rubik-Medium;
  --rb: Rubik-Bold;
  --sf: sans-serif
}

$breakpoints: (
        xs: 0,
        s: 576px,
        m: 768px,
        l: 992px,
        xl:1200px
);