<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LaslesVPN</title>
</head>
<body>
<section class="main">
    <nav class="container navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand logo-text" href="#"><img src="../img/logo.png" alt="LaslesVPN"> <p>Lasles<span>VPN</span></p></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav nav-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Testimonials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
            </ul>
            <ul class="navbar-nav nav-right">
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="intro container">
        <div class="info">
            <div class="left">
                <p>Want anything to be easy with <span>LaslesVPN.</span></p>
                <p class="txt-page">Provide a network for all your needs with ease and fun using LaslesVPN discover interesting features from us.</p>
                <a href="#">Get Started</a>
            </div>
            <div class="right">
                <img src="../img/img_intro.svg" class="img-fluid" alt="">
            </div>
        </div>
        <div class="counters">
            <div class="box">
                <div class="row">
                    <div class="col">
                        <span><i class="fas fa-user"></i></span>
                    </div>
                    <div class="col">
                        <div class="number">90+</div>
                        <div class="txt-box">Users</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="row">
                    <div class="col"><span><i class="fas fa-map-marker-alt"></i></span></div>
                    <div class="col">
                        <div class="number">30+</div>
                        <div class="txt-box">Locations</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="row">
                    <div class="col"><span><i class="fas fa-server"></i></span></div>
                    <div class="col">
                        <div class="number">50+</div>
                        <div class="txt-box">Servers</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<section style="height: 50vh"></section>
</body>
</html>