<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LaslesVPN</title>
</head>
<body>
<section class="main">
    <nav class="container navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand logo-text" href="#"><img src="../img/logo.png" alt="LaslesVPN"> <p>Lasles<span>VPN</span></p></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav nav-center">
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Features</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Testimonials</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Help</a>
                </li>
            </ul>
            <ul class="navbar-nav nav-right">
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign In</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Sign Up</a>
                </li>
            </ul>
        </div>
    </nav>

    <section class="intro container">
        <div class="info">
            <div class="left">
                <p>Want anything to be easy with <span>LaslesVPN.</span></p>
                <p class="txt-page">Provide a network for all your needs with ease and fun using LaslesVPN discover interesting features from us.</p>
                <a href="#">Get Started</a>
            </div>
            <div class="right">
                <img src="../img/img_intro.svg" class="img-fluid" alt="">
            </div>
        </div>
        <div class="counters">
            <div class="box">
                <div class="row">
                    <div class="col">
                        <span><i class="fas fa-user"></i></span>
                    </div>
                    <div class="col">
                        <div class="number">90+</div>
                        <div class="txt-box">Users</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="row">
                    <div class="col"><span><i class="fas fa-map-marker-alt"></i></span></div>
                    <div class="col">
                        <div class="number">30+</div>
                        <div class="txt-box">Locations</div>
                    </div>
                </div>
            </div>
            <div class="box">
                <div class="row">
                    <div class="col"><span><i class="fas fa-server"></i></span></div>
                    <div class="col">
                        <div class="number">50+</div>
                        <div class="txt-box">Servers</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>
<section class="features">
    <div class="container">
        <div class="left">
            <img src="../img/img_features.svg" class="img-fluid" alt="">
        </div>
        <div class="right">
            <p class="txt-title">We Provide Many <br>Features You Can Use</p>
            <p class="txt-page">You can explore the features that we provide with fun and have their own functions each feature.</p>
            <ul class="txt-page">
                <li><i class="fas fa-check-circle"></i> Powerfull online protection</li>
                <li><i class="fas fa-check-circle"></i> Internet without borders</li>
                <li><i class="fas fa-check-circle"></i> Supercharged VPN</li>
                <li><i class="fas fa-check-circle"></i> No specific time limits.</li>
            </ul>
        </div>
    </div>
</section>
<section class="pricing">
    <div class="container">
        <p class="txt-title">Choose Your Plan</p>
        <p class="txt-page">Let's choose the package that is best for you and explore it happily and cheerfully.</p>
        <div class="box-pricing">
            <div class="box">
                <img src="../img/box-pricing.svg" class="img-fluid" alt="">
                <p class="txt-title txtfp">Free Plan</p>
                <ul class="txt-page">
                    <li><i class="fas fa-check"></i> Unlimited Bandwitch</li>
                    <li><i class="fas fa-check"></i> Encrypted Connection</li>
                    <li><i class="fas fa-check"></i> No Traffic Logs</li>
                    <li><i class="fas fa-check"></i> Works on All Devices</li>
                </ul>
                <div>
                    <p class="txt-title txtf">Free</p>
                    <a href="#">Select</a>
                </div>
            </div>
            <div class="box">
                <img src="../img/box-pricing.svg" class="img-fluid" alt="">
                <p class="txt-title txtfp">Standard Plan</p>
                <ul class="txt-page">
                    <li><i class="fas fa-check"></i> Unlimited Bandwitch</li>
                    <li><i class="fas fa-check"></i> Encrypted Connection</li>
                    <li><i class="fas fa-check"></i> Yes Traffic Logs</li>
                    <li><i class="fas fa-check"></i> Works on All Devices</li>
                    <li><i class="fas fa-check"></i> Connect Anyware</li>
                </ul>
                <div>
                    <p class="txt-title txtf">$9 / <span>mo</span></p>
                    <a href="#">Select</a>
                </div>
            </div>
            <div class="box">
                <img src="../img/box-pricing.svg" class="img-fluid" alt="">
                <p class="txt-title txtfp">Premium Plan</p>
                <ul class="txt-page">
                    <li><i class="fas fa-check"></i> Unlimited Bandwitch</li>
                    <li><i class="fas fa-check"></i> Encrypted Connection</li>
                    <li><i class="fas fa-check"></i> No Traffic Logs</li>
                    <li><i class="fas fa-check"></i> Works on All Devices</li>
                    <li><i class="fas fa-check"></i> Connect Anyware</li>
                    <li><i class="fas fa-check"></i> Get New Features</li>
                </ul>
                <div>
                    <p class="txt-title txtf">$12 / <span>mo</span></p>
                    <a href="#">Select</a>
                </div>
            </div>
        </div>
        <div class="map">
            <p class="txt-title">Huge Global Network of Fast VPN</p>
            <p class="txt-page">See <b>LaslesVPN</b> everywhere to make it easier for you when you move locations.</p>
            <img src="../img/map.svg" alt="">
        </div>
        <div class="companies owl-carousel owl-theme">
            <div class="item"><img src="../img/logo-netflix.png" alt="Netflix"></div>
            <div class="item"><img src="../img/logo-reddit.png" alt="Reddit"></div>
            <div class="item"><img src="../img/logo-amazon.png" alt="Amazon"></div>
            <div class="item"><img src="../img/logo-Discord.png" alt="Discord"></div>
            <div class="item"><img src="../img/logo-spotify.png" alt="Spotify"></div>
        </div>
    </div>
</section>
<section class="container testimonials">
    <p class="txt-title">Trusted by Thousands of Happy Customer</p>
    <p class="txt-page">These are the stories of our customers who have joined us with great pleasure when using this crazy feature.</p>
    <div class="container-fluid">
        <div class="comments owl-carousel owl-theme" id="owlComments">
            <div class="box-comment item">
                <div class="people">
                    <img src="../img/people-1.png" alt="Viezh Robert">
                    <div class="name-people">
                        <p>Viezh Robert</p>
                        <p>Warsaw, Poland</p>
                    </div>
                    <span>4.5 <i class="fas fa-star"></i></span>
                </div>
                <p class="txt-page">"Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have been no problems. LaslesVPN always the best".</p>
            </div>
            <div class="box-comment item">
                <div class="people">
                    <img src="../img/people-2.png" alt="Yessica Christy">
                    <div class="name-people">
                        <p>Yessica Christy</p>
                        <p>Shanxi, China</p>
                    </div>
                    <span>4.5 <i class="fas fa-star"></i></span>
                </div>
                <p class="txt-page">"I like it because I like to travel far and still can connect with high speed".</p>
            </div>
            <div class="box-comment item">
                <div class="people">
                    <img src="../img/people-3.png" alt="Kim Young Jou">
                    <div class="name-people">
                        <p>Kim Young Jou</p>
                        <p>Seoul, South Korea</p>
                    </div>
                    <span>4.5 <i class="fas fa-star"></i></span>
                </div>
                <p class="txt-page">"This is very unusual for my business that currently requires a virtual private network that has high security.".</p>
            </div>
            <div class="box-comment item">
                <div class="people">
                    <img src="../img/people-1.png" alt="Viezh Robert">
                    <div class="name-people">
                        <p>Viezh Robert</p>
                        <p>Warsaw, Poland</p>
                    </div>
                    <span>4.5 <i class="fas fa-star"></i></span>
                </div>
                <p class="txt-page">"Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have been no problems. LaslesVPN always the best".</p>
            </div>
            <div class="box-comment item">
                <div class="people">
                    <img src="../img/people-2.png" alt="Yessica Christy">
                    <div class="name-people">
                        <p>Yessica Christy</p>
                        <p>Shanxi, China</p>
                    </div>
                    <span>4.5 <i class="fas fa-star"></i></span>
                </div>
                <p class="txt-page">"I like it because I like to travel far and still can connect with high speed".</p>
            </div>
            <div class="box-comment item">
                <div class="people">
                    <img src="../img/people-3.png" alt="Kim Young Jou">
                    <div class="name-people">
                        <p>Kim Young Jou</p>
                        <p>Seoul, South Korea</p>
                    </div>
                    <span>4.5 <i class="fas fa-star"></i></span>
                </div>
                <p class="txt-page">"This is very unusual for my business that currently requires a virtual private network that has high security.".</p>
            </div>
            <div class="box-comment item">
                <div class="people">
                    <img src="../img/people-1.png" alt="Viezh Robert">
                    <div class="name-people">
                        <p>Viezh Robert</p>
                        <p>Warsaw, Poland</p>
                    </div>
                    <span>4.5 <i class="fas fa-star"></i></span>
                </div>
                <p class="txt-page">"Wow... I am very happy to use this VPN, it turned out to be more than my expectations and so far there have been no problems. LaslesVPN always the best".</p>
            </div>
            <div class="box-comment item">
                <div class="people">
                    <img src="../img/people-2.png" alt="Yessica Christy">
                    <div class="name-people">
                        <p>Yessica Christy</p>
                        <p>Shanxi, China</p>
                    </div>
                    <span>4.5 <i class="fas fa-star"></i></span>
                </div>
                <p class="txt-page">"I like it because I like to travel far and still can connect with high speed".</p>
            </div>
            <div class="box-comment item">
                <div class="people">
                    <img src="../img/people-3.png" alt="Kim Young Jou">
                    <div class="name-people">
                        <p>Kim Young Jou</p>
                        <p>Seoul, South Korea</p>
                    </div>
                    <span>4.5 <i class="fas fa-star"></i></span>
                </div>
                <p class="txt-page">"This is very unusual for my business that currently requires a virtual private network that has high security.".</p>
            </div>
        </div>
    </div>
    <div style="height: 30vh"></div>
</section>
</body>
</html>